# Real-world Data Wrangling

## 1. Gather data

I will be using the **YouTube Top ~5000 Channel IDs** dataset  for this project, which can be found in the Kaggle website (https://www.kaggle.com/datasets/amirmasoud32/youtube-top-5000-channel-ids). In addition, I will be gathering data programmatically using the YouTube API for the corresponding channels in the first dataset.

### **1.1.** Problem Statement
The datset selected for this project, centers around the user parameters for Youtube channels. Therefore, we should be able to dig into information regarding the user counts for individual channels, details related to vedios present and number of views in those channels.

Problems I will be looking at are;
1. Which channels have most reported subscribers?
2. Are there any relashionships between parameters such as, published date, total number of vedios, number of subscribers and the total views for these channels?

Befor begining the project it is essential to load the package to the notebook.

In [1]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile

import json

### **1.2.** Gather data from Dataset 1

#### **Dataset 1**: YouTube Top ~5000 Channel IDs dataset 

I find it quite intesresting to get to know more details about the Youtube channels available and their popularity. Hence, I chose this dataset for the project.  

Type: Zipped .csv File

Method: The data was gathered using the "Downloading files" method from Kaggle

Dataset variables:

* Name: Name of the channel
* ID: Channel ID

For Dataset 1, we first need to unzip the file and then read the.csv file. Afterwards, we can access the data in this dataset.

In [2]:
# unzip the zip file in read mode using a context manager
with zipfile.ZipFile("Youtube.zip","r") as zip_ref: 
    zip_ref.extractall("Youtube/")
    
# load a csv into a pandas dataframe
df = pd.read_csv('Youtube/output.csv')

In [3]:
# show the data frame
df.head(2)

       Name                        ID
0    Zee TV  UCppHT7SZKKvar4Oc9J4oljQ
1  T-Series  UCq-Fj5jknLsUf-MWSy4_brA

### **1.3.** Gather data from Dataset 2
#### Dataset 2 : Gather data by accessing Youtube API

Why picked the dataset? I selected this data gathering method to complement well with the first dataset I chose previously. Data gathering using this methods enables to gather more useful details to be used for the analysis.

Type: Gather data by accessing APIs

Method: The data was gathered using the "API" method from Youtube (https://developers.google.com/youtube/v3/docs/comments/list).

Dataset variables:

* ID : Channel ID for the Youtube channel            
* Subscribers : Number of subscribers for the channel
* Total_vedios : Total number of vedios in the channel 
* Views : Total number of views for the channel         
* Published Date :  Date the channel was created

The first step will be to install Google API client and Google authentication library in order to retreive the related channel data.

In [ ]:
# install Google APIs Client Library for Python
import sys
!{sys.executable} -m pip install --upgrade google-api-python-client

# install libraries for user authorization
!{sys.executable} -m pip install --upgrade google-auth-oauthlib google-auth-httplib2

In [ ]:
# import above installed packages
import os

import google_auth_oauthlib.flow
import googleapiclient.discovery
import googleapiclient.errors

scopes = ["https://www.googleapis.com/auth/youtube.readonly"]

Next the authorization credentials were generated as an API key at the Google Developers Console (https://console.cloud.google.com/apis/dashboard?project=project3-433207).

In [ ]:
# define API key
API_key = 'AIzaSyCWFU0TVY8o2Lw53mhCb00JUsB_9tQ0464'

In [ ]:
# Import
from googleapiclient.discovery import build

# define api_service_name and api_version
api_service_name = "youtube"
api_version = "v3"

# create an API client
youtube = googleapiclient.discovery.build(
        api_service_name, api_version, developerKey=API_key
)

After the google API service name and version are defined, and the API client is created we need to extract the chennel ID information from the first dataset.

In [ ]:
# Extract channel ID information from the database df
channel_ids_all = df.iloc[:, 1].tolist()

# test
print(len(channel_ids_all))

We create the function below to fetch the data from Youtube API.

In [ ]:
# define fetch_stats function
def fetch_stats(youtube, channel_ids):

    all_data = []
    #print(channel_ids)
    request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=','.join(channel_ids),
        maxResults = 50,
    )
    
    response = request.execute()
    
    # add data into dictionaries
    for x in response['items']:
        data = {'ID': x['id'],
               # 'Description': x['snippet']['description'],
                'Subscribers': x['statistics']['subscriberCount'],
                'Total_vedios': x['statistics']['videoCount'],
                'Views': x['statistics']['viewCount'],
                'Published_date': x['snippet']['publishedAt']
                }
    
        all_data.append(data)

    return(pd.DataFrame(all_data))

Then we call the above defined function is blocks of 50 till all the data from the first dataset is passed to the function to extract information. We pass the blocks in 50 entries each as this is the  maximum number of items that  Youtube allows to be returned in a single run.

In [ ]:
# create results list
results = []

# Define the chunk size
chunk_size = 50

# Loop through the list in chunks
for i in range(0, len(channel_ids_all), chunk_size): 
    chunk = channel_ids_all[i:i + chunk_size]
    result_df = fetch_stats(youtube, chunk)
    #print(len(result_df))
    results.append(result_df)
    
# Combine all DataFrames into a single DataFrame
stats_df = pd.concat(results, ignore_index=True)

In [ ]:
# Saving raw data gathered from API
stats_df.to_csv('API_gathered.csv', index=False)

## 2. Assess data

Next we assess the data to elavuate for any data quality and tidiness issues with those matrices.

In [ ]:
# look into the first few lines of df dataframe
df.head()

In [ ]:
#  check information about df dataframe
df.info()

In [ ]:
# look into the first few lines of stats_df dataframe
stats_df.head()

In [ ]:
#  check information about df dataframe
stats_df.info()

From the above few steps we are able to get a brief knowledge about what kind of dataset we are looking at, which is helpful in the next stage of data assessing to find quality and tidiness issues. Afterwards, we Check for NaN values in the data set.

In [ ]:
# Check for null values
df.isnull().sum()

In [ ]:
# Check for null values
stats_df.isnull().sum()

Both datasets have no null values.

### Quality Issue 1:

**Duplicate entires in both datasets**

In [ ]:
# Find duplicated entries in the df dataset visually
df.nunique()

In [ ]:
# Find duplicated entries in the ID column visually
stats_df['ID'].nunique()

`.nunique()` provides the opportunity to find how many unique entries are present in each column of the dataframe. Since there are no NaN values in both data frames we are working with, out of the 4998 entries in the df dataframe there must be 7 and 78 duplicated entried in `Name` and `ID` columns, and out of the 4612 entries in the stats_df dataframe there must be 72 duplicate entries present.

In [ ]:
# Inspecting the dataframe programmatically

In [ ]:
# Find duplicated entries in the Name column
df[df.duplicated(subset='Name')]

Due to some reason the `ID` column in the df dataset cannot be called simply by using its name, `ID`. Therefore, we need to call the column by its index as follows.

In [ ]:
# ID column has index '1'
index_ID = 1

# Get column name using iloc
column_name_to_check = df.columns[index_ID]

# Find duplicated entries in the ID column
df[df.duplicated(subset=[column_name_to_check])]

In [ ]:
# Find duplicated rows in the stats_df dataset
stats_df[stats_df.duplicated(subset=['ID'])]

Issue and justification: 

As pointed out at the begining of this section, both data frames have duplicated entries present in them.

### Quality Issue 2:

**Non returning values for the 2nd dataframe**

In [ ]:
# Inspecting the dataframe visually

# Find duplicated entries in the df dataset visually
df.nunique()

In [ ]:
# Find duplicated entries in the ID column visually
stats_df['ID'].nunique()

In [ ]:
# Inspecting the dataframe programmatically
stats_df.describe()

Issue and justification: 

Even if we consider the 2 datasets without the duplicated entries, it can be seen that the API is not returning data for all the entries in the df dataframe entires i.e. for all the 4920 unique ID values in df. The API only returns values for 4540 entries. Therefore, there are 380 entries in the original dataset which doesn't have extracted results from the API calling.

### Tidiness Issue 1: 
**Formatting issue in ID column for df dataset**

In [ ]:
# Inspecting the dataframe visually

# check the column details for df
df.info()

As seen in the table above the the ID tag is followed by some unseen characters when displayed.

In [ ]:
# Inspecting the dataframe programmatically

# Define the column name you want to check
check_column = df.columns[1]

if check_column == "ID":
    print(f"Column ID is present in DataFrame.")
else:  
    print(f"Column ID not found in DataFrame")

Issue and justification: 

The `ID` heading in `df` dataframe has a formetting difference. Hence it cannot be called using just by entering the name. It could be because there are some unseen characters together with its name included when creating the dataframe. This issue is difficult to inspect visually but gets and error when the column is called referring to its name.

### Tidiness Issue 2:
**Published Date is of object data type and has both date and time stamps**

In [ ]:
# Inspecting the dataframe visually

# investigate the stats_df dataframe 
stats_df.head(2)

In [ ]:
# Retreive info from starts_df
stats_df.info()

In [ ]:
# Inspecting the dataframe programmatically

# Check if data type is object
assert stats_df.Published_date.dtype == 'object'

Issue and justification: 

The `Published_date` column entries are in the object data type and in a format representing both the date and the time in each of the entries. It will be more benefial to have the date and time separated in the `Published_date`column. For further analysis we will need to convert the Published_date column into `datetime` format.

## 3. Clean data
The first step in the cleaning stage is to make copies of the data set to ensure the raw dataframes are not impacted

Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [ ]:
# Make copies of the datasets
df_clean = df.copy()

In [ ]:
# Make copies of the datasets
stats_df_clean = stats_df.copy()

### Tidiness Issue 1: 
**Formatting issue in ID column for df dataset**

In [ ]:
# Cleaning strategy: Rename column ID in df dataset

# Get the current column names
columns = df_clean.columns.tolist()

# Create a dictionary for renaming
rename_dict = {columns[1]: 'ID'}

# Rename the column using the rename method
df_clean.rename(columns=rename_dict, inplace=True)

# Validate the cleaning was successful
df_clean.info()

In [ ]:
# Validate the cleaning was successful
df_clean.ID.describe()

Justification:

Due to a formatting issue the `ID` column name in the df dataframe was not callable by its name. Therefore, it was necessary to rename the column. After the renaming now it can be seen that the issue is resolved and the clomun can be called using `ID` label.

### Quality Issue 2: 
**Drop duplicated rows in the 2 data frames**

In [ ]:
# Apply the cleaning strategy: Drop duplicates

In [ ]:
# drop duplicated raws in df_clean['ID'] 
df_clean.drop_duplicates(subset=['ID'], inplace=True)

In [ ]:
# drop duplicated raws in stats_df_clean['ID'] 
stats_df_clean.drop_duplicates(subset=['ID'], inplace=True)

In [ ]:
# Validate the cleaning was successful

# check the number of duplicated rows in dt_clean
df_clean.duplicated(['ID']).sum()

In [ ]:
# Validate the cleaning was successful

# check the number of duplicated rows in stats_dt_clean
stats_df_clean.duplicated(['ID']).sum()

Justification:

By the investitions previously conducted, there were quite a few duplicates in both data frames. These were eliminated using the `drop_duplicted` in pandas. And now there are no duplicated entires.

### Tidiness Issue 2: 
**Date has both date and time stamps**

In [ ]:
# Apply the cleaning strategy: Convert data type

# Convert Published_date column type to datetime format
stats_df_clean['Published_date'] = pd.to_datetime(stats_df_clean['Published_date'])

In [ ]:
# Validate the cleaning was successful
print(stats_df_clean['Published_date'].dtype)

In [ ]:
# Apply the cleaning strategy: Drop duplicates

# Extract and display only the date 
stats_df_clean['Published_date'] = stats_df_clean.Published_date.dt.date

In [ ]:
# Validate the cleaning was successful

# print extract from stats_df to check column names
stats_df_clean.head(2)

Justification: 

For further analysis it is more useful to have the date information alone in the `Published_date` column. Therefore, the date information was extracted using `.dt.date` in pandas. However, before that the column data type needed to be changed to `datetime` format.

### Quality Issue 1: 
**Entries not extracting data from the API**

Apply the cleaning strategy:

In order to target this cleaning point we will first merge the 2 datassets and check for the entries which does not get any results from the 2nd dataset. These entries will be extracted in to another dataset to further investigations. Afterwards, the empty rows will be droppped in the combined dataframe.

In [ ]:
# combine the 2 datasets
final_clean_df = pd.merge(df_clean, stats_df_clean, on=['ID'], how='left')

In [ ]:
# Random sample the dataframe
final_clean_df.sample(n=10, random_state=7)

In [ ]:
# Find rows with any NaN values
na_rows = final_clean_df[final_clean_df.isna().any(axis=1)]

In [ ]:
# Drop the column with all NaN values
na_rows = na_rows.drop(columns=['Subscribers', 'Total_vedios', 'Views', 'Published_date'])

In [ ]:
# Display some NaN rows
na_rows.head()

In [ ]:
# Information on NaN entries
na_rows.info()

In [ ]:
# drop NaN rows with NaN results in final_clean and reset index
final_clean_df.dropna(inplace=True)

In [ ]:
# Validate the cleaning was successful

# Check for null values in the dataframe
final_clean_df.isna().sum()

Justification:

As seen we were unable to get information for all the entries in the first dataframe using the APi. We were able to summarise the entries which we were not able to extarct information and save as a separate dataframe named `na_rows` for further investigation if necessary. In order to get this information we merged the two dataframe with a left merge on the df dataset and then dropped the NaN entries to construct the final dataframe.

For our further data manipulations we convert the columns `Subscribers`, `Total_vedios`, and `Views` to dtype `int` and `Published_date` to `datetime`.

In [ ]:
# change data types for columns
final_clean_df = final_clean_df.astype({"Subscribers": int, 
                                  "Total_vedios": int, 
                                  "Views":int,
                                  "Published_date": np.datetime64
                                 })

In [ ]:
# Check dataset
final_clean_df.dtypes

### **Remove unnecessary variables and combine datasets**

We had already combined our datasets in the cleaning stage. Let's get a look at the heading of the final dataset to check if there any other fields that might be unnecessary.

In [ ]:
# Check the final dataset
final_clean_df.head()

Remove unnecessary variables and combine datasets:
 
There are no unnecessary column in the dataset selected or the information collected for the other dataset

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [ ]:
# Saving cleaned data
final_clean_df.to_csv('Youtube_cleaned.csv', index=False)

## 5. Answer the research question

### **5.1:** Define and answer the research question


We began this project with the intention of finding the most popular Youtube channels and finding any relationships among parameters such as view counts, date of published, total vedios, total subscribers for the Youtube channels.

In finding answers for these questions now we used the cleaned data we have gathers and depict them visually.

**Research question: Which channels have most subscribers?**

In [ ]:
#Visual 1 -

#freq_count = final_clean.Subscribers.value_counts()
top_channels = final_clean_df.nlargest(20, 'Subscribers');

# Assign plot size
plt.figure(figsize = [10,5]);

# Draw plot
top_channels.plot(kind='bar', x='Name', y='Subscribers', color='skyblue')
plt.title('Subscribers vs. Channel')
plt.xlabel('Channel Name')
plt.ylabel('Subscribers');

Answer to research question:

* According to the bar chart above, the channels, MrBeast (~300million), T-series (~270million) and Cocomelon (~180million) seems to be the most popular channels in Youtube as they have the most subscribers.

**Research question: Are there any relationship present between `Subscribers`, `Total_vedios`, `Views`, and  `Published_date` in this dataset?**

In order to look into this aspect we construct a PairGrid as follows.

In [ ]:
# Visual 2 

# draw PairGrid
g = sns.PairGrid(data=final_clean_df, vars=['Subscribers', 'Total_vedios', 'Views', 'Published_date'])
g.map_diag(plt.hist)
g.map_offdiag(plt.scatter);

Only `Subscribers` vs `Views` show a linear relationship from the above data. Therefore, we redraw a scatter plot for these 2 variables.

In [ ]:
# Visual 3 

# Assign plot size
plt.figure(figsize = [6,6]);

# Draw scatter plot
sns.scatterplot(data=final_clean_df, x='Subscribers', y='Views');

Answer to research question: 

* According to the PairGrid it was clear that only `Subscribers` and `Views` showed a linear rlationship. Hence, more the subscribers a channel will have it will get more views no matter the Published date of the channel or the total number of vedios it might carry.

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:*

* An extension of this project I would be to look into in depth at the channels which did not extract any information using the API. There could be reasons such as inaccurate channel IDs, the channel not being currently present or another reason.